.headimage
{
    width: 15%;
}
.heading
{
    display: flex;
    justify-content: center;
}
body{
  
    margin-left: 20%;
    margin-right: 20%;
}
.message-left
{
    margin-bottom: 10px;
    float: left;
    padding: 2%;
    clear: both;
    border: 2px solid black;
    background-color: #ffffff;
    border-radius: 20px;
}
.message-right
{
    margin-bottom: 10px;
    float: right;
    clear: both;
    padding: 2%;
    border: 2px solid black;
    background-color: #dcf8c6;
    /* color: white; */
    border-radius: 20px;
}
.messagesend
{
    width: 600px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    
}
#container
{
    background: url("background.jpg");
    border: 2px solid black;
    height: 380px;
    padding: 10px;
   overflow-y: auto;
}
.buttonsend
{
    width:100px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}